.card {
    margin: 2rem 2rem 2rem 0;
    padding: 1.5rem;
    width: 250px;
    box-shadow: 0 0 28px 4px rgba(0,0,0,0.1);
    transition: transform .3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}

.cardtitle {
    font-weight: 500;
    font-size: 1.5rem;
}

.cardimage {
    display: flex;
    justify-content: flex-end;
}
.cardimage img {
    border-radius: 50%;
}

.location {
    margin: 1rem 0;
}
.location p {
    margin: 0;
}

.phoneNumber p {
    font-style: italic;
    font-size: .8rem;
    margin: 0;
}