html {
    scroll-behavior: smooth;
}

.to-top {
    background-color:#79d70f;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: yellow;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    color:black;
}