.head{
    font-family: 'Catarman',sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    
}

.itemHead{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
    
}

h1{
    font-family: 'Roboto',sans-serif;
    font-weight: bold;
    margin-top: 2rem;
}

.imgForCart img{
        height: 7rem;
        width: 7rem;  
    }

.myButton {
        box-shadow:inset 0px 10px 14px -7px #3e7327;
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        background-color:#77b55a;
        border-radius:8px;
        border:1px solid #4b8f29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:16px;
        font-weight:bold;
        font-style:italic;
        padding:9px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #5b8a3c;
    }
    .myButton:hover {
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        background-color:#72b352;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    