section.registerContainer{
       padding: 1rem;
    height: 100%;
    width: 26%;
    background: rgb(139,223,104);
    background: linear-gradient(0deg, rgba(139,223,104,1) 31%, rgba(45,130,253,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textToRegister {
    margin-top: 20px;
}

@media (max-width: 768px) {
    section.registerContainer{
        width: 100%;
        height: 100%;
        background: rgb(139,223,104);
        background: linear-gradient(0deg, rgba(139,223,104,1) 31%, rgba(45,130,253,1) 100%);
 }
}

.registerForm{
    color:black;
    font-weight:bold;
    font-family:'Roboto',sans-serif;;
}

input:focus { 
    outline:none;
    border-color:#9ecaed;
    box-shadow:0 0 10px #9ecaed;
}