.jumbo {
    display: flex;
    align-items: center;
    background: url('../assets/images/cans-background.jpg') no-repeat fixed bottom;
    background-size: cover;
    padding: 11rem 0;
    position: relative;
    z-index: 0;
}
.overlay {
    background-color: #000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    
}
.textHeader {
    text-align: center;
    z-index: 0;
    opacity: 1;
    font-size: 5rem;
    color: white;
    font-family: "Poppins", sans-serif;
}
.textHeaderPara {
    z-index: 0;
    opacity: 1;
    text-align: center;
    font-size: 2rem;
    color: #efefef;
    font-family: "Poppins", sans-serif;
}

.myCoutainer {
    display: flex;
    justify-content: center;   
}

.jumboButton {
    color: white;
    background-color: green;
    border: none;
    padding: 0.6rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.jumboButton:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 768px) {
    .jumbo {
        padding: 3rem 0;
    }
}